*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("images/burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    height: 100%;
    width: 100%;
}
.navbar-list{
    text-align: center;
}
.navbar-list li {
    display: inline-block;
    padding: 30px;
   
    
}
.navbar-list li a {
 margin: 30px;
 color: white;
 text-decoration: none;
}

.navbar-list li a:hover{
    text-decoration: underline;
    color: blue;
}
hr{
border-color: blue;
}
.card{
   height: 230px;
   width: 300px;
    position: relative;
    left: 250px;
    top: 320px;
}

.card h1{
    text-align: center;
    padding: 30px 30px 10px 30px;
    font-size: xx-large;
    color: white;
}
.card p{
    margin: 0px 10px 10px 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    
}
#btn{
    position: relative;
    bottom: 5px;
    left: 50px;
    font-size: larger;
    border-color: red;
    background-color: red;
    color: white;
}

#btn a{
   text-decoration: none;
   color: white;
}



